<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>HelloServlet</servlet-name>
  	<display-name>HelloServlet</display-name>
  	<description>This is first servlet</description>
  	<servlet-class>demoServlet.HelloServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VisitorCount</servlet-name>
  	<display-name>VisitorCount</display-name>
  	<description></description>
  	<servlet-class>cookieHandling.VisitorCount</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CookieDemo</servlet-name>
  	<display-name>CookieDemo</display-name>
  	<description></description>
  	<servlet-class>cookieHandling.CookieDemo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HiddenServlet</servlet-name>
  	<display-name>HiddenServlet</display-name>
  	<description></description>
  	<servlet-class>demoServlet.HiddenServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HiddenFormServlet</servlet-name>
  	<display-name>HiddenFormServlet</display-name>
  	<description></description>
  	<servlet-class>hiddenforms.HiddenFormServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FirstServlet</servlet-name>
  	<display-name>FirstServlet</display-name>
  	<description></description>
  	<servlet-class>urlRewriting.FirstServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SecondServlet</servlet-name>
  	<display-name>SecondServlet</display-name>
  	<description></description>
  	<servlet-class>urlRewriting.SecondServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SessionDemo</servlet-name>
  	<display-name>SessionDemo</display-name>
  	<description></description>
  	<servlet-class>httpSessionDemo.SessionDemo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SecondSession</servlet-name>
  	<display-name>SecondSession</display-name>
  	<description></description>
  	<servlet-class>httpSessionDemo.SecondSession</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HiddenFormDemo</servlet-name>
  	<display-name>HiddenFormDemo</display-name>
  	<description></description>
  	<servlet-class>hiddenforms.HiddenFormDemo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>URLServlet</servlet-name>
  	<display-name>URLServlet</display-name>
  	<description></description>
  	<servlet-class>urlRewriting.URLServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>URLServlet2</servlet-name>
  	<display-name>URLServlet2</display-name>
  	<description></description>
  	<servlet-class>urlRewriting.URLServlet2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SessionHandling</servlet-name>
  	<display-name>SessionHandling</display-name>
  	<description></description>
  	<servlet-class>httpSession.SessionHandling</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SessionHandler2</servlet-name>
  	<display-name>SessionHandler2</display-name>
  	<description></description>
  	<servlet-class>httpSession.SessionHandler2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<url-pattern>/InitialServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VisitorCount</servlet-name>
  	<url-pattern>/VisitorCount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CookieDemo</servlet-name>
  	<url-pattern>/CookieDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HiddenServlet</servlet-name>
  	<url-pattern>/HiddenServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HiddenFormServlet</servlet-name>
  	<url-pattern>/HiddenFormServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FirstServlet</servlet-name>
  	<url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SecondServlet</servlet-name>
  	<url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SessionDemo</servlet-name>
  	<url-pattern>/SessionDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SecondSession</servlet-name>
  	<url-pattern>/SecondSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HiddenFormDemo</servlet-name>
  	<url-pattern>/HiddenFormDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>URLServlet</servlet-name>
  	<url-pattern>/URLServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>URLServlet2</servlet-name>
  	<url-pattern>/URLServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SessionHandling</servlet-name>
  	<url-pattern>/SessionHandling</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SessionHandler2</servlet-name>
  	<url-pattern>/SessionHandler2</url-pattern>
  </servlet-mapping>
</web-app>
